@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import "tailwindcss";

@theme {
  --color-main_b: #156FF3;
  --color-main_db: #1D67D5;
  --color-main_lb: #E8F1FE;
  --color-main_r: #FF0011;
  --color-ms_lb: #DCE6F6;
  --color-ms_ob: #1D67D54D;

  --color-sub_r: #F0635A;
  --color-sub_o: #F59762;
  --color-sub_b: #46CDFB;
  --color-sub_green: #29D697;
  --color-sub_g: #716E90;

  --color-border_lg: #D8D8D8;
  --color-border_md: #D1D1D1;
  --color-text_b: #2D2626;
  --color-text_g: #868686;
  --color-bg: #F5F5F5;

  --font-primary: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo',
    'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text_b);
  height: 100vh;
}

.max-width {
  @apply max-w-[35rem] mx-auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
